
<button (click)="toInput()">INPUT</button>
<!-- <button (click) = "toDetail()">DETAIL</button> -->
<button (click) = "toFav()">FAVORITE</button>


<h1>{{namaPage}}</h1>

<router-outlet></router-outlet>


<hr>
<h1>LIST NOTE</h1>

<hr>
<div *ngFor="let note of globalVar.getNote()">
  <div (click)="detail(note.id)">
    <h4>{{note.judul}}</h4>
    <p>{{note.isi}}</p>
    <p>{{note.id}}</p>
  </div>
    <div *ngIf = "!note.isFavorite">
      <button (click)="btnFav(note.id)">FAVORITE</button>
    </div>
    <div *ngIf = "note.isFavorite">
      <button (click)="btnUnvaf(note.id)">UNFAVORITE</button>
    </div>
  <hr>
</div>